// FONT VARIABLES
$font-primary: 'Barlow', sans-serif;


// COLOR VARIABLES
$color-primary: #94D3AC;
$color-primary-cta: #8FE8B0;

$color-secondary: #817974;
$color-secondary-light: #E5E3E2;
$color-secondary-dark: #655C56;
$color-secondary-darkest: #4D4642;

// BASE
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100vh;
}

body {
    font-family: $font-primary;
    font-weight: 600;
    font-size: 1.8rem;
}


// POMODORO CLOCK PAGE
.container {
    display: grid;
    grid-template-columns: minmax(2rem, 1fr) [content-start] minmax(5rem, 45rem) [content-end] minmax(2rem, 1fr);
    grid-template-rows: 25rem 25rem 10rem;

    @media only screen and (max-width: 485px) {
        grid-template-rows: 15rem 25rem 10rem;
    }
}
.top-bg {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background-color: #EFFCEF;
    height: 54rem;

    @media only screen and (max-width: 485px) {
        height: 44.5rem
    }
}

// .progress-bar {
//     grid-column: 1 / -1;
//     grid-row: 3 / span 1;

//     background-color: $color-primary-cta;
//     border-radius: 10rem;
//     margin-top: 3.4rem;
//     height: .6rem;
//     width: 10rem;

//     @media only screen and (max-width: 950px) {
//         display: none;
//     }
    
// }

.rock-illustration {
    grid-row: 2 / 3;
    grid-column: 1 / span 1;
    align-self: end;
    justify-self: end;
    margin-right: 9rem;

    @media only screen and (max-width: 950px) {
        display: none;
    }
}

.countdown {
    grid-column: content-start / content-end;
    grid-row: 1 / span 2;
    display: grid;
    justify-items: center;
    align-items: center;
}

.stopwatch-illustration {
    grid-row: 1 / -1;
    align-self: end;

    @media only screen and (max-width: 485px) {
        width: 12rem;
    }
}

.time {
    display: flex;
    justify-content: space-between;

    &-seconds-js {
        z-index: 1;
    }
}

.time-block {
    width: 9rem;
    height: 13rem;
    background-color: white;
    box-shadow: 0 3px 6px rgba($color: #CCEDD2, $alpha: .56);
    border-radius: .6rem;

    font-size: 10rem;
    color: $color-primary;
    line-height: 1;
    text-align: center;

    & span {
        display: inline-block;
        margin-top: 1rem;

        @media only screen and (max-width: 485px) {
            margin-top: 0;
        }
    }

    &--colon {
        color: $color-secondary;
        font-size: 10rem;
        padding: 0 1rem;

        @media only screen and (max-width: 485px) {
            font-size: 7rem;
            margin-top: -1.2rem;
        }
    }

    &:nth-child(1) {
        margin-right: 1.4rem;
    }

    &:nth-child(4) {
        margin-right: 1.4rem;
    }

    @media only screen and (max-width: 485px) {
        width: 6rem;
        height: 8rem;
        font-size: 7rem;
        padding: 2px 11px;
    }
}


////// CHANGE SESSION & BREAK TIME

.settings {
    grid-column: content-start / content-end;
    grid-row: 3 / span 1;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr .6rem 1fr;

    background-color: $color-secondary-light;
    width: 98%;
    height: 8rem;
    border-radius: .4rem;
    box-shadow: 0 3px 7px rgba($color: #9D9793, $alpha: .46);

    &__block {
        display: grid;
        
        margin: 1.6rem 3rem;

        @media only screen and (max-width: 390px) {
            margin: 1.6rem 2rem;
        }

        & > p {
            color: $color-secondary;
            font-size: 1.2rem;
            letter-spacing: .075rem;
            margin-bottom: .8rem;
            text-transform: uppercase;
        }
    }

    &__time {
        display: flex;

        & > h3 {
            color: $color-secondary-dark;
            font-size: 2.2rem;
        }
    }

    &__separator {
        background-color: #D5D2D0;
    }
}

// up & down arrows

.change-length {
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;
    margin-top: .4rem;

    &--up {
        margin-bottom: .5rem;
    }

    & img {
        cursor: pointer;
    }
}


////// BUTTONS

.buttons {
    grid-column: 2 / span 1;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .6rem;
    border: none;
    cursor: pointer;
    font-family: $font-primary;
    font-size: 1.8rem;
    font-weight: 600;

    height: 4.8rem;
    width: 11.5rem;
    

    & svg {
        margin-right: .7rem;

        &:active {
            fill: white;
        }
    }
    
    &__start-stop {
        background-color: $color-primary-cta;
        color: $color-secondary-darkest;
        margin-right: 1rem;

        &:hover {
            background-color: #ADEEC5;
        }

        &:active {
            background-color: $color-primary-cta;
        }

        & svg {
            fill: $color-secondary-darkest;
        }
    }

    &__reset {
        background-color: $color-secondary;
        color: #E3E1E0;
        font-weight: 500;

        &:hover {
            background-color: #97918D;
        }

        &:active {
            background-color: $color-secondary;
        }
    }
    
}


